# From https://github.com/dnaka91/advent-of-code/tree/main/.github/workflows
name: CI
on: [pull_request, push]
concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true
env:
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-C debuginfo=0 -D warnings"
jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install system dependencies
        uses: ./.github/actions/install-system-deps
        with:
          packages: libxkbcommon-dev libwayland-dev libudev-dev libpulse-dev
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Configure cache
        uses: Swatinem/rust-cache@v2
      - name: Test
        run: cargo test
  lint:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install system dependencies
        uses: ./.github/actions/install-system-deps
        with:
          packages: libxkbcommon-dev libwayland-dev libudev-dev libpulse-dev
      - name: Setup Rust (nightly)
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      - name: Run rustfmt
        run: cargo fmt -- --check
      - name: Setup Rust (stable)
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - name: Configure cache
        uses: Swatinem/rust-cache@v2
      - name: Run clippy
        run: cargo clippy -- -D warnings
